{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "plugin:import/typescript",
    "plugin:cypress/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "ignorePatterns": ["**/config/webpack.config.js", "**/*.config.js", "**/*.js"],
  "rules": {
    // note you must disable the base rule as it can report incorrect errors
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["off"],
    "no-undef": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": ["error"],
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": ["off"],
    "react-hooks/exhaustive-deps": "off",
    "@typescript-eslint/react-hooks/exhaustive-deps": ["off"],
    "quotes": [
      "error",
      "double"
    ],
    "@typescript-eslint/quotes": [
      "error",
      "double"
    ],
    "max-len": [
      "error",
      180
    ],
    "linebreak-style": "off",
    "@typescript-eslint/linebreak-style": "off",
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "@typescript-eslint/indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.jsx",
          "**/*.test.js",
          "**/*.test.tsx",
          "**/*.test.ts"
        ]
      }
    ],
    "import/no-unresolved": [
      2,
      {
        "caseSensitive": false
      }
    ],
    "import/extensions": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    "react/jsx-indent": [
      "error",
      4
    ],
    "react/jsx-indent-props": [
      "error",
      4
    ],
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-wrap-multilines": [
      "error",
      {
        "assignment": "parens-new-line"
      }
    ],
    "arrow-parens": "off",
    "no-plusplus": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/media-has-caption": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "import/no-named-as-default": "off",
    "import/prefer-default-export": "off",
    "prefer-destructuring": "off",
    "no-bitwise": "off",
    "no-throw-literal": "off",
    "object-curly-newline": [
      "error",
      {
        "ImportDeclaration": "never"
      }
    ],
    "prefer-promise-reject-errors": "off",
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "external"],
          ["internal", "parent"],
          ["sibling", "index"]
        ],
        "newlines-between": "always"
      }
    ],
    "react/state-in-constructor": "off"
  },
  "globals": {
    "require": true,
    "fetch": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {}, // this loads <rootdir>/tsconfig.json to eslint https://github.com/import-js/eslint-plugin-import/issues/1485
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}
